/* _reset.scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

/* _partial.scss */
.mainNav {
  position: relative;
  bottom: -250px;
  left: 0px; }

.navAbout {
  color: white;
  text-transform: uppercase;
  font-family: montserrat-light;
  letter-spacing: .1em;
  text-align: center;
  margin-left: 70px;
  margin-bottom: 10px; }

.navAbout > a {
  color: white; }

.navAbout > a:hover {
  text-decoration: none; }

body {
  color: #fff; }

body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

div {
  color: #FFC300;
  border: 1px solid; }

p {
  font: 200% Oswald, sans-serif;
  color: #2ecc71; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: none; }

nav .selected {
  display: block; }

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.message, .success, .error, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }

.container {
  width: 100%; }

article[role="main"] {
  float: left;
  width: 62.5%; }

aside[role="complementary"] {
  float: right;
  width: 31.25%; }

.social, .facebook, .instagram, .google-plus {
  font-family: Oswald, sans-serif;
  font-size: 24px;
  color: #2980b9; }

.facebook {
  color: blue; }

.instagram {
  color: yellow; }

.google-plus {
  color: green; }

@media (min-width: 700px) {
  color: red; }

@media only screen and (max-width: 320px) {
  background: red; }
